<!--login card-->
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/images/Git.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">LOG IN</h5>
          <p class="card-text">To GITHUB</p>
          <button type="button" class="btn btn-dark btn-lg" (click)="auth.login()">
            <i class="fa fa-github mr-2" aria-hidden="true"></i> Login</button>
        </div>
      </div>
    </div>
  </div>
</div>